<!DOCTYPE html>
<html>
<head>
	<title>Delete a student.</title>
</head>
<body>
	<h1>Delete a student</h1>
	<form action="/students" method="POST">
		<input type="text" name="name" placeholder="Name">
		<button type="submit">Delete student</button>	
	</form>	

</body>
</html>