section#contact-info {
	font-size: .8em;
}

.job {
	background-color: #e9e5dc;
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
}

.job:hover {
	background-color: blue;
}

.smalltext {
	font-size: .8em;
}

li:nth-child(2) {
	font-size: 1.6em;
}